
@{
    ViewBag.Title = "About";
}

<h2 style="text-align:center">Attractions in the city of Nis</h2>

<label style="color:white; text-align:center">
    Nis is the third-largest city in Serbia, with a lot of culture. It is one of the oldest cities in the Balkans and Europe, and has from ancient times been considered a gateway between the East and the West.
    It is home to one of the oldest churches in Serbia, dating back to the 4th century.
</label>
<div style="padding-top:1%;
    background-image: url('../../Images/centar.jpg') !important;
    background-size: 100%;
    background-repeat: no-repeat;
    padding:50px;
    background-attachment:scroll;">
</div>
<label style="color:forestgreen; text-align:end">
    This application is for you to discover all the best things of this city, through the game. It's simple, choose what interests you in the city, and the app will do the rest.
    You will have marked on the map, where are you, and what's your first stop. When you come to your stop, it will show you interesting facts about the place, pictures, tickets, etc.
    There is also a night life full of good time and fun.
</label>
<label style="color:white; text-align:center">
    Try it, we are hire to make your trip the easiest possible, and the most fulfilled yet
</label>
